- var path = require('path');
- var opts = htmlWebpackPlugin.options
- var files = htmlWebpackPlugin.files

doctype xml
apex:page(
	controller='#{opts.apexPrefix}Controller'
	action='{!forwardToLogin}'
	docType='html-5.0'
	applyHtmlTag='false'
	applyBodyTag='false'
	showHeader='false'
	standardStylesheets='false'
)
	html(lang='en')
		head
			meta(charset='utf-8')/
			title= opts.title

			if files.favicon
				link(rel='shortcut icon' href=files.favicon)/

			if opts.mobile || opts.mobile === undefined
				meta(name='viewport' content='width=device-width, initial-scale=1')/

			if opts.cdn && opts.cdn.css
				each url in opts.cdn.css
					link(href=url rel='stylesheet')/

			each file in files.css
				link(href=file rel='stylesheet')/

			base(href=opts.baseHref)/

		body(ng-app='app' ng-strict-di='true')
		
			header(ui-view='header')
			.container(ui-view='root' id=opts.appMountId)
			footer(ui-view='footer')
			
			if opts.cdn && opts.cdn.js
				each jsconf in opts.cdn.js
					script(src=jsconf.url)

			if files.chunks
				each chunk in files.chunks
					script(src="#{chunk.entry}")
